// ...
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Open+Sans:300,400');
body{
  font-family:'Open Sans', sans-serif;
}
#fh5co-home {
  box-shadow:none;
  .fh5co-copy-inner{
    h1{
      color: #444;
      font-size: 38px;
      line-height: 55px;
      max-width:80%;
      margin:auto;
      margin-top: 20vh;
      margin-bottom: 40px;
      font-family: 'Montserrat',sans-serif;
    }
    h2{
      color:#999;
      font-size:25px!important;
      line-height:35px;
      font-weight:100
    }
    a.btn.btn-primary{
      font-size:15px;
      background: #6a28cf;
      border-radius:4px;
      border:0;
      padding:20px 40px!important;
      font-weight:normal;
      margin:50px;
      &:hover{
        background:#8951df!important;
      }
    }

  }
  .bottom-image img{
    width:100%;
  }
}

.fh5co-main-nav {
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 10000;
  box-shadow:none!important;
  width: 100%;
  a{
    float:right;
    padding:20px 0 !important;
    line-height: 40px;
  }
  #home{
    float:left;
  img{
      max-width:100px;
    }
  }
}

#fh5co-services .service .icon i {
  font-size: 40px;
  color: #528afe;
}