<div id="fh5co-home" class="" data-section="home" >
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="fh5co-copy">
	<div class="fh5co-copy-inner">
	  <h1>We build data-driven web and mobile apps - and our clients love us
      </h1>
	  <h2 class="">
          The founders of Button come from an extensive start-up background. We've built technology solutions that have carried several companies
          to success and also seen when the misapplication of tech can result in disaster. Let us apply our knowledge and experience to your business and take
          it new heights.
      </h2>
      <a href="#" class="btn btn-primary btn-lg">Learn more about Button</a>
	</div>
      </div>
    </div>
      <div class="bottom-image">
          <img src="/images/home-tech.jpg"/>
      </div>
  </div>
</div>
