<div id="fh5co-home" class="" data-section="home" >
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="fh5co-copy">
	<div class="fh5co-copy-inner">
	  <h1>We've built businesses. <br/> Let us help you build yours.</h1>
	  <h2 class="">We advance cutting-edge AI research and turn it into scalable products that make businesses safer, stronger, and more agile.
      </h2>
      <a href="#" class="btn btn-primary btn-lg">Learn more about Button</a>
	</div>
      </div>
    </div>
      <div class="bottom-image">
          <img src="/images/home-tech.jpg"/>
      </div>
  </div>
</div>
