<div class="js-sticky">
    <div class="fh5co-main-nav">
        <div class="container">
            <div class="fh5co-menu-1">

                {{ if .Site.Params.contact.enable }}
                <a href="#" data-nav-section="contact">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
                {{ end }}

                {{ if .Site.Params.team.enable }}
                <a href="#" data-nav-section="team">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
                {{ end }}


                {{ if .Site.Params.services.enable }}
                <a href="#" data-nav-section="services">{{ with .Site.Params.nav.services }}{{ . | markdownify }}{{ end }}</a>
                {{ end }}


                {{ if .Site.Params.mission.enable }}
                <a href="#" data-nav-section="mission">{{ with .Site.Params.nav.mission }}{{ . | markdownify }}{{ end }}</a>
                {{ end }}

                <a href="#" data-nav-section="home" id="home">
                    <img src="/images/logo.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
